body
{
    background: #FFFFFF url("Images/gradient.png") repeat-x;
}
#container
{
    width: 800px;
    margin: auto;
    overflow: hidden;
}
#header
{
    border-bottom: 1px solid black;
    padding: 10px;
}
#left
{
    float: left;
    width: 198px;
}
#right
{
    float: right;
    width: 600px;
    border-left: 1px solid black;
}
h1
{
    font-family: Segoe UI Light, Helvetica, sans-serif;
    font-size: 3.5em;
    color: #092656;
    margin: 1px 0px 0px 5px;
}
h2
{
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: x-large;
    margin: 20px 5px 3px 5px;
}
h3
{
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: Larger;
    margin: 10px 0px 3px 5px;
}
p
{
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: medium;
}
li
{
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: medium;
    margin: 6px 0px 6px 12px;
}
a
{
    color: #092656;
    text-decoration: none;
}
.tableCell
{
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 25%;
}
.topLinks
{
    text-align: right;
    font-size: small;
    margin: 8px 5px 3px 5px;
}
.descriptionText
{
    line-height: 18px;
    margin: 10px 5px 0px 5px;
}
.mainTable
{
    width: 600px;
    margin: 10px 0px;
}
.quickLinks
{
    text-align: center;
}
.categories
{
    display: block;
    margin: 0px 0px 0px 19px;
    white-space: nowrap;
}
.bottomText
{
    font-size: small;
    text-align: center;
    margin: 10px;
}
.bottomImage
{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}